body{
    background-color: bisque;
}

#Nome{
    color: rgb(183, 0, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#Cabecalio{
    color: rgba(4, 110, 101, 0.897);
    text-align: center;
}
p{
    color: brown;
}

img{
    display:block;/* Definir como um bloco*/
    margin: 40px auto;/* Centralizar horizontal */
    width: 600px;/* Definir largura */
    height: 600px; /* Definir altura */
    object-fit:initial; /* preenchimento da area com recorte*/
    border-radius: 12px; /* Definir cantos arrendodados */
    transition: transform 200ms ease, box-shadow 200ms ease, filter 200ms ease;
    will-change: transform;
}